<section class="spotlight">
  <div class="image">
    <img src="images/pic01.jpg" alt="" />
  </div>
<div class="content">
  <header class="major">
    <h2>Come party with us at the Grounds of Alexandria!</h2>
    <p>We're tying the knot, and you're invited! 2020 didn't go as planned but we'll give it another shot!</p>
    <p>The ceremony will take place at Saint Benedicts Church in Chippendale (see the <a href="#location" class="more scrolly">map below</a>) on Saturday the 12th of June, 2021. Please arrive at 3:45pm for a 4:00pm ceremony <br>
    <br>The reception will be at the Grounds of Alexandria. Guests are welcome to arrive anytime after 6:00pm. </p>
  </header>
  </div>
</section>
