<div class="inner">
  <header class="major">
    <h2>Come party with us at the Grounds of Alexandria!</h2>
    <p>Aaron Monger and Alana Harris are tying the knot, and you're invited!</p>
    <p>The wedding will take place Saint Benedicts Church in Broadway (see the <a href="#location" class="more scrolly">map below</a>) on Friday the 3rd of June, 2020. </p>
    <p>The ceremony is scheduled for 3:00pm and the reception will be at the Grounds of Alexandria. Guests are welcome to arrive anytime after 6:00pm. </p>
  </header>
</div>
