<div class="inner">
  <header class="major">
    <h2>Come party with us at the Grounds of Alexandria!</h2>
    <p>We're tying the knot, and you're invited!</p>
    <p>The ceremony will take place at Saint Benedicts Church in Chippendale (see the <a href="#location" class="more scrolly">map below</a>) on Friday the 12th of June, 2020. </p>
    <p>The ceremony is scheduled for 4:00pm and the reception will be at the Grounds of Alexandria. Guests are welcome to arrive anytime after 6:00pm. </p>
  </header>
</div>
