<div class="inner">
  <header class="major">
    <h2>RSVP For Our Big Day</h2>

    <form
    class="form"
    action="https://docs.google.com/forms/u/0/d/e/1FAIpQLScoZ9NJjDerU16ypLnHVHwcrrjMNuqhh-_ZPOu0iPKGfNjHQw/formResponse">
    <p>
      Please Enter Your Name
    </p>
              <textarea
              class="quantumWizTextinputPapertextareaInput exportTextarea"
              jsname="YPqjbf"
              width="100%"
              height="100%"
              frameborder="0"
              marginheight="0"
              marginwidth="0"
              data-rows="1"
              aria-label="What are the names of the people attending?"
              jscontroller="gZjhIf" jsaction="input:Lg5SV;ti6hGc:XMgOHc;rcuQ6b:WYd;"
              required=""
              name="entry.1588393331"
              dir="auto" data-initial-dir="auto"
              data-initial-value="Enter Names"
              aria-describedby="i.desc.1563730825 i.err.1563730825"
              ></textarea>
              <p>
              </p>
    <label>Can You Make It?</label>
    <select class="browser-default" name="entry.386655892" jsname="L9xHkb">>
      <option value="" disabled selected>Choose your option</option>
      <option jsname="wQNmvb" jsaction="" data-value="Of Course" aria-selected="true" tabindex="0" role="option">Of Course</option>
      <option jsname="wQNmvb" jsaction="" data-value="Sorry, I Can't" aria-selected="false" tabindex="-1" role="option">Sorry I Can't</option>
    </select>
    <p></p>
    <input type="submit" value="Send" />
    </form>
    </header>
</div>
