<div class="inner">
  <header class="major">
    <h2>RSVP For Our Big Day</h2>
    <form class="form" action="https://docs.google.com/forms/u/0/d/e/1FAIpQLScoZ9NJjDerU16ypLnHVHwcrrjMNuqhh-_ZPOu0iPKGfNjHQw/formResponse">
    <p>Please Enter Your Name(s)</p>
    <input name="entry.1588393331" type="text" required="yes" />
    <p></p>
    <p>Please Enter Your Email</p>
    <input name="emailAddress" type="email" required="yes" />
    <p></p>
    <p>Can You Make It?</p>
    <select class="browser-default" name="entry.386655892">>
      <option value="" disabled selected>Choose your option</option>
      <option name="entry.386655892" value="Of Course" tabindex="0" role="option">Of Course</option>
      <option name="entry.386655892" value="Sorry, I Can't" tabindex="1" role="option">Sorry I Can't</option>
    ></select>
    <p>
    </p>
    <p>What's Your Favourite Song To Dance To?</p>
    <input name="entry.795176677" type="text" />
    <p></p>
    <p>Do You Have Any Dietary Requirements?</p>
    <input name="entry.1860142094" type="text" />
    <p></p>
    <p>Would you like to go to an afterparty at the Harris family farm on the 13th? The details will be emailed to you</p>
    <select class="browser-default" name="entry.1741072241">>
      <option value="" disabled selected>Choose your option</option>
      <option name="entry.1741072241" value="Yes. Send me the details" tabindex="0" role="option">Yes. Send Me The Details</option>
      <option name="entry.1741072241" value="No" tabindex="1" role="option">Sorry I Can't</option>
    ></select>
    <p>
    </p>
    <input type="submit" value="Send" />
    </form>
    </header>
</div>
