<section class="spotlight">
  <div class="content">
  <header class="major">
    <h2>Travelling to our Wedding</h2>
    <p>Saint Benedicts Church is located in Chippendale near the Sydney CBD. If you would like to drive to the church, there is limited street parking nearby, otherwise it is a short walk to Broadway Shopping Centre, which has a large carpark. The Grounds of Alexandria has parking available on site.</p>
    <p>For those of you driving from the South West, the easiest route will be the taking the M5 until Cleveland Street. </p>
    <p>For those of you coming by train, the church is a short walk from Central Station and the reception is nearby Green Square Station.</p>
  </header>
</div>
<div class="image">
  <img src="images/pic02.jpg" alt="" />
</div>
</section>
