<div class="inner">
  <header class="major">
    <h2>The Bridal Party</h2>
    <p>A.K.A. The A-Team</p>
  </header>
  <ul class="features">
    <li class="icon fa-user">
      <h3>Alexander Booth</h3>
      <h4>Best Man</h4>
      <p>brief bio</p>
    </li>
    <li class="icon fa-user">
      <h3>Sophie Harris</h3>
      <h4>Maid of Honour</h4>
      <p>brief bio</p>
    </li>
    <li class="icon fa-user">
      <h3>Kieran Monger</h3>
      <h4>MC</h4>
      <p>brief bio</p>
      </li>
    <li class="icon fa-user">
      <h3>Eleni Monger</h3>
      <p>brief bio</p>
      </li>
    <li class="icon fa-user">
      <h3>Tyler Harris</h3>
      <p>brief bio</p>
      </li>
    <li class="icon fa-user">
      <h3>Emily Andrews</h3>
      <p>brief bio</p>
       </li>
    <li class="icon fa-user">
      <h3>Kurt Booth</h3>
      <p>brief bio</p>
    </li>
    <li class="icon fa-user">
      <h3>Jennifer King</h3>
      <p>brief bio</p>
    </li>
    <li class="icon fa-user">
      <h3>Tom Coyne</h3>
      <p>brief bio</p>
      </li>
    <li class="icon fa-user">
      <h3>Alanah Monger</h3>
      <p>brief bio</p>
      </li>
  </ul>
</div>
